.taskContainer{
    display: flex;
    border: 1px solid black;
    width: 400px;
    justify-content: center;
    margin: 20px auto;
    padding: 5px;
    transition: opacity 500ms ease-in-out;
    border-radius: 15px;
    background-color: aqua;
    opacity: 0.65;
    height:50px;
    align-items: center;
    border: none;
    

}

.task{
    width: 300px;
    font-family: 'Anton', sans-serif;
    word-spacing: 5px;
}

.button{
    width: 60px;
    height: 50px;
    border: none;
    color:acqua;
    border-radius: 10px;
    margin: 5px;
    font-size: 15px;
}

.trash-btn{
    padding: 50px;
}

h5{
    word-spacing: 5px;
}